<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/zonepark_asset"
        android:label="ZonePark"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".User.Scan_page"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity"
            android:exported="false" />
        <activity
            android:name=".User.Park_space"
            android:exported="false" />
        <activity
            android:name=".User.Mall_page"
            android:exported="false" />
        <activity
            android:name=".Admin.Delete"
            android:exported="false" />
        <activity
            android:name=".User.userMain"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".User.startUser"
            android:exported="false" />
        <activity
            android:name=".Admin.register"
            android:exported="false" />
        <activity
            android:name=".Admin.cities"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Capture"
            android:screenOrientation="portrait"
            android:theme="@style/zxing_CaptureTheme"/>



        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>